<footer class="container-fluid bg-grey py-5">
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 ">
               <div class="logo-part">
                  <img src="https://i.ibb.co/sHZz13b/logo.png" class="w-50 logo-footer" >
                  <p>7637 Laurel Dr. King Of Prussia, PA 19406</p>
                  <p>Use this tool as test data for an automated system or find your next pen</p>
               </div>
            </div>
            <!-- <div class="col-md-6 px-4">
              <br>
               <h5> О компании </h5>
               <br>
               <p>Новости спорта из Армении и со всего мира. Сайт создан независимым журналистом для </p>

            </div> -->
         </div>
      </div>
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 px-4">
              <br>
               <h5> Контакты</h5>
               <br>
               <div class="row ">
                  <div class="col-md-12">
                     <ul>
                        <li> <a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i> Email: vahe717@gmail.com</a> </li>
                        <br>
                        <li> <a href="#"> <i class="fa fa-phone" aria-hidden="true"></i> Phone: +7(977) 312 98 79</a> </li>
                     </ul>
                  </div>

               </div>
            </div>
            <div class="col-md-6 ">
              <br>
               <h5> Подпишитесь на нас </h5>
               <br>
               <div class="social">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
               </div>
               <form class="form-footer my-3">


            </div>
         </div>
      </div>
   </div>
</div>
</footer>
